In [6]:
import pandas as pd

df_matt = pd.read_csv("../data/score/mattcoef_prompt.tsv", sep="\t")

In [5]:
df_kappa = pd.read_csv("../data/score/kappa_prompt.tsv", sep="\t")

In [11]:
df_merge = pd.concat([df_matt, df_kappa], axis=1)

In [17]:
df_merge['Personnel'].corr()

           Personnel  Personnel
Personnel    1.00000    0.99984
Personnel    0.99984    1.00000